@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
html body {
  overflow: hidden; /* hor scroll 없애기 */
  margin: 0 auto;
}
html body header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #fff;
}
html body header nav {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
}
html body header nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
html body header nav ul li {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 3px 25px;
  width: max-content;
  transition: all 0.5s ease;
}
html body header nav ul li:hover {
  background-color: #A5B9D7;
  border-radius: 30px;
}
html body header nav ul li a {
  line-height: 180%;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: -0.02rem;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.5s ease;
}
html body header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0px;
  background-color: #FFF;
  transition: width 0.6s ease;
}
html body header nav ul li a:hover {
  color: #FFF;
}
html body header nav ul li a:hover::after {
  width: 65%;
}
html body .fixed_top_btn button {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 998;
}
html body main #main_swiper .swiper-wrapper {
  height: 100vh;
}
html body main #main_swiper .swiper-wrapper .swiper-slide {
  width: 100vw;
  height: 100vh;
}
html body main #main_swiper .swiper-wrapper section {
  padding: 100px 0;
  max-width: 1550px;
  height: 100vh;
  margin: 0 auto;
}
html body main #main_swiper .swiper-wrapper .greetings {
  /* background-color: #F8F4F3; */
  height: 100vh;
  max-width: 100%;
  background: linear-gradient(167deg, rgb(165, 185, 215) 0%, rgb(252, 245, 255) 47%, rgb(245, 245, 245) 95%);
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap {
  width: 75%;
  margin: 50px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap h1 {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02rem;
  font-family: "Comfortaa";
  padding: 120px 50px;
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap .moto {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap .moto h2 {
  font-size: 2.125rem;
  text-align: center;
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap .moto h2 em {
  color: #2dbb9b;
}
html body main #main_swiper .swiper-wrapper .greetings .greetings_wrap .moto p {
  font-size: 1.25rem;
}
html body main #main_swiper .swiper-wrapper .greetings .keyword_wrapper {
  margin-top: 150px;
  white-space: nowrap;
  overflow: hidden;
}
html body main #main_swiper .swiper-wrapper .greetings .keyword_wrapper .keyword_content {
  display: inline-flex;
  gap: 35px;
  justify-content: center;
  animation: hor_scroll 60s linear infinite;
  background: #fffefe;
}
html body main #main_swiper .swiper-wrapper .greetings .keyword_wrapper .keyword_content span {
  font-size: 1.2rem;
  letter-spacing: -0.02rem;
  line-height: 180%;
}
html body main #main_swiper .swiper-wrapper .intro {
  background: #F8F4F3;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;
  max-width: 1550px;
  margin: 0 auto;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .left_wrap {
  max-width: 577px;
  max-height: 800px;
  position: relative;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .left_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .left_wrap:before {
  content: "";
  display: block;
  width: 140px;
  height: 100%;
  background-color: #b1835a;
  position: absolute;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .right_wrap {
  width: calc(100% - 677px);
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .right_wrap .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
  padding-bottom: 140px;
}
html body main #main_swiper .swiper-wrapper .intro .contents_wrap .right_wrap .sect_content {
  line-height: 150%;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  line-height: 200%;
  font-size: 1.1rem;
}
html body main #main_swiper .swiper-wrapper .skills {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(191deg, rgb(245, 245, 245) 19%, rgb(233, 232, 246) 60%, rgb(255, 255, 255) 95%);
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap {
  max-width: 1550px;
  margin: 60px auto 0;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 120px;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card:hover .skill_img {
  animation: skill_rotate 2s ease-in-out both;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_title_tag {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_title_tag .skill_title {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02rem;
  text-align: center;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_title_tag .adv_skill {
  width: max-content;
  padding: 5px 12px;
  background-color: #5A7BAE;
  color: #FFF;
  font-weight: 300;
  border-radius: 7px;
  font-size: 0.875rem;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_title_tag .int_skill {
  width: max-content;
  padding: 5px 12px;
  background-color: #A5B9D7;
  color: #FFF;
  font-weight: 300;
  border-radius: 7px;
  font-size: 0.875rem;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_details {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
html body main #main_swiper .swiper-wrapper .skills .content_wrap .skills_wrap .skill_col .skill_card .skill_details .skill_content {
  line-height: 150%;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  font-size: 1rem;
}
html body main #main_swiper .swiper-wrapper .facts {
  height: 100vh;
}
html body main #main_swiper .swiper-wrapper .facts .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
  line-height: 80%;
}
html body main #main_swiper .swiper-wrapper .facts .sect_title em {
  font-size: 2.188rem;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  width: 80%;
  margin: 130px auto 0;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .fact_circle {
  animation: fact_scale 2.5s ease-in-out infinite;
  box-shadow: 0 0 15px rgba(165, 185, 215, 0.6);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .circle1 {
  background: linear-gradient(135deg, #82b6fa 0%, #5677B3 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .circle2 {
  background: linear-gradient(135deg, #2E7D5A 0%, #63C7A3 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .circle3 {
  background: linear-gradient(135deg, #AFC8FF 0%, #D0B8E8 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .circle4 {
  background: linear-gradient(135deg, #FFD8A8 0%, #FBC4B2 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .fact_circle .fact_point {
  color: #f9f9f9;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card:hover .fact_info .fact_desc {
  opacity: 1;
  transform: translateY(0px);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .fact_circle {
  border-radius: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .fact_circle .fact_point {
  font-size: 1.9rem;
  font-weight: bold;
  color: #30476C;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .circle1 {
  background: linear-gradient(135deg, #7babe6 0%, #70a0ff 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .circle2 {
  background: linear-gradient(135deg, #83d3ad 0%, #8FF2C4 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .circle3 {
  background: linear-gradient(135deg, #C9E4FF 0%, #E2D4F0 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .circle4 {
  background: linear-gradient(135deg, #FFF0D6 0%, #FDE2D3 100%);
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .fact_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .fact_info .fact_title {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .facts .fact_wrap .fact_card .fact_info .fact_desc {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: -0.02rem;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease;
}
html body main #main_swiper .swiper-wrapper .project_content {
  height: 70vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .project_content .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
}
html body main #main_swiper .swiper-wrapper .project_content .project_list {
  margin-top: 25px;
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1.7px solid #f5f5f5;
  padding-bottom: 15px;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li .project_menu_title {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
  color: #555555;
  line-height: 32px;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li .project_menu_title em {
  padding-right: 20px;
  font-weight: 500;
  font-size: 1.875rem;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li .project_tag_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li .project_tag_wrap .project_tag {
  font-size: 1rem;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -0.02rem;
  color: #555555;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 2px 13px;
  transition: all 0.4s linear;
}
html body main #main_swiper .swiper-wrapper .project_content .project_list > li .project_tag_wrap .project_tag:hover {
  padding: 4px 15px;
  background-color: #A5B9D7;
  color: #fff;
}
html body main #main_swiper .swiper-wrapper .project1 {
  background: linear-gradient(90deg, rgb(215, 215, 215) 46%, rgb(245, 245, 245) 78%);
}
html body main #main_swiper .swiper-wrapper #project3 {
  background: linear-gradient(242deg, rgb(248, 244, 243) 68%, rgb(245, 245, 245) 27%);
}
html body main #main_swiper .swiper-wrapper #project3 > .project_content_box .project_link_box > a {
  background-color: #e6e6e6;
  transition: all 0.4s linear;
}
html body main #main_swiper .swiper-wrapper #project3 > .project_content_box .project_link_box > a:hover {
  background-color: #A5B9D7;
  color: #fff;
}
html body main #main_swiper .swiper-wrapper #project2 {
  background: #f5f5f5;
}
html body main #main_swiper .swiper-wrapper #project2 > .project_content_box .project_link_box > a {
  background-color: #e6e6e6;
  transition: all 0.4s linear;
}
html body main #main_swiper .swiper-wrapper #project2 > .project_content_box .project_link_box > a:hover {
  background-color: #A5B9D7;
  color: #fff;
}
html body main #main_swiper .swiper-wrapper .project_wrap {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box {
  width: calc(100% - 849px);
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 185px;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .prj_title > h2 {
  font-size: 2rem;
  font-weight: 500;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .prj_title > h2:first-child {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 4px;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_info {
  display: grid;
  grid-template-columns: 150px 500px;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_info .prj_info_title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 200%;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_info .prj_info_desc {
  font-size: 1rem;
  line-height: 200%;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box > a {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  background-color: #e6e6e6;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_wrap {
  position: relative;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_wrap > button {
  background-color: #cfcece;
  border-radius: 12px;
  padding: 10px 25px;
  transition: all 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_wrap > button:hover {
  background-color: #A5B9D7;
  border-radius: 30px;
  color: #fff;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_wrap #balance_figma_pop {
  opacity: 0;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_wrap #london_figma_pop {
  bottom: -70px;
  opacity: 0;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box > a {
  background-color: #cfcece;
  border-radius: 12px;
  padding: 10px 25px;
  transition: all 0.5s ease;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box > a:hover {
  background-color: #A5B9D7;
  border-radius: 30px;
  color: #fff;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_box {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  position: absolute;
  bottom: -100px;
  left: 20px;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_box > a {
  color: #575757;
  transition: all 0.3s ease;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_box > a:hover {
  color: #549b78;
  font-weight: 500;
}
html body main #main_swiper .swiper-wrapper .project_wrap .project_content_box .project_link_box .figma_box > a:hover > svg path {
  stroke: #549b78;
  transition: stroke 0.3s ease;
}
html body main #main_swiper .swiper-wrapper .graphic_design .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
}
html body main #main_swiper .swiper-wrapper .graphic_design .graphic_wrap #graphic_swiper .swiper-wrapper .swiper-slide {
  max-width: 456px;
  max-height: 635px;
}
html body main #main_swiper .swiper-wrapper .graphic_design .graphic_wrap #graphic_swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
html body main #main_swiper .swiper-wrapper .experience {
  display: flex;
  flex-flow: column nowrap;
  gap: 70px;
}
html body main #main_swiper .swiper-wrapper .experience .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap {
  display: flex;
  flex-flow: column nowrap;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .exp_title {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .exp_title .exp_section_title {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .employement_info {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .employement_info .employement_card {
  width: 420px;
  height: 200px;
  padding: 40px 40px;
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: #cecaca;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .employement_info .employement_card .card_title {
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .employement_info .employement_card .card_position {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .employement_wrap .employement_info .employement_card .card_date {
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap {
  display: flex;
  flex-flow: column nowrap;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .exp_title {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .exp_title .exp_section_title {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card {
  width: 420px;
  height: 200px;
  padding: 40px 40px;
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: #cecaca;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card .title_tag {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card .title_tag .card_title {
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card .title_tag span {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
  color: #5D5D5D;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card .card_position {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .experience .edu_wrap .edu_info .edu_card .card_date {
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .collaboration .sect_title {
  line-height: 130%;
  font-size: 3.125rem;
  letter-spacing: -0.02rem;
  font-family: "Roboto Sans";
  padding-bottom: 60px;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right {
  width: calc(100% - 578px);
  padding: 50px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right h2 {
  font-size: 1.875rem;
  line-height: 130%;
  letter-spacing: -0.02rem;
  text-align: center;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right .collab_link_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right .collab_link_wrap .link_box a {
  width: 171px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right .collab_link_wrap .link_box a .link_name {
  line-height: 130%;
  letter-spacing: -0.02rem;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right .collab_link_wrap .kakao {
  position: relative;
}
html body main #main_swiper .swiper-wrapper .collaboration .coolab_wrap .collab_right .collab_link_wrap .kakao .kakao_qr {
  position: absolute;
  top: 50px;
}

@keyframes hor_scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes skill_rotate {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fact_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
